/node_modules
/storage/*.key
/vendor
/.idea
.env
composer.phar
/public_html/assets/build
/public_html/assets/css/*.css
/public_html/assets/css/*.css.map
/public_html/assets/plugins/bootstrap/scss/*.css
/public_html/assets/plugins/bootstrap/scss/*.css.map