@import "colors.less";

* {
  font-family: Google Sans;
}

.transition(@param: all, @time: 0.3s, @type:ease){
  transition: @param @time @type;
}

.jGrowl{
  &-notification{
    &.success{
      background: lighten(@success, 35%);
      color: darken(@success, 30%)
    }
    &.error{
      background: lighten(@danger, 30%);
      color: darken(@danger, 30%)
    }
    &.warning{
      background: lighten(@warning, 30%);
      color: darken(@warning, 30%)
    }
    &.info{
      background: lighten(@info, 40%);
      color: darken(@info, 20%)
    }
  }
  &-close{
    padding: 0;
  }
}

.label-inside {
  position: relative;

  input{
    padding-bottom: 2px;
    &:focus, &:valid{
      + label{
        font-size: 70%; padding-top: 2px; opacity: 0.7;
      }
    }
  }

  label{
    padding: .5rem 2rem;
    font-size: 1.25rem;
    line-height: 1.5;
    position: absolute; top: 2px; left: 1px; margin: 0;
    .transition();
  }
}

.mw-500{
  max-width: 500px;
}

.navbar-toggler{
  border: none;
}

.header-fixed{
  padding-top: 56px;
}